.App {
  text-align: center;
  height: 100vh; 
  background-image: url('https://images5.alphacoders.com/112/1120179.jpg');
  background-size: cover; 
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  width: 90%; /* Asetetaan leveys prosentteina */
  max-width: 600px; /* Maksimileveys isommilla näytöillä */
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin); /* Suurempi fontti pienillä näytöillä */
  color: white;
  padding: 20px; /* Lisätään paddingia */
  border-radius: 10px; /* Pyöristetyt kulmat */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Varjostus */
}

.App-header input {
  padding: 12px;
  font-size: 4vmin; /* Dynaaminen fonttikoko */
  margin: 10px 0;
  width: 80%; /* Suurempi leveys pienillä näytöillä */
  max-width: 400px;
  border: 2px solid #fff;
  border-radius: 5px;
}

.App-header button {
  padding: 10px 20px;
  font-size: 4vmin; /* Dynaaminen fonttikoko */
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Pienemmille näytöille */
@media screen and (max-width: 600px) {
  .App-header {
    min-width: 80vw; /* Suurempi leveys pienillä näytöillä */
    font-size: 5vmin; /* Suurempi fontti pienillä näytöillä */
  }
}