.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://i.pinimg.com/564x/71/4c/95/714c9586f0a558338da01b28564ec5d4.jpg');
  background-size: cover; 
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-size: cover;
  background-position: center;
  background-color: #194280;
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

li {
  list-style-type: none;
  font-size: medium;
  font-weight: 800;
}

.WishlistForUser {
  padding-bottom: 10px;
}

.ilmoitus {
  display: flex;
  max-width: 300px;
  display: flex;
  background-color: #b8232f;
  color: white;
  font-size: 6vmin;
  box-sizing: border-box;
}

.wishlist-container {
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc; /* Optional: add a border */
  padding: 10px;
  border-radius: 4px;
}

.wishlist-container::-webkit-scrollbar {
  width: 8px; /* Thin scrollbar for webkit browsers */
}

.wishlist-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background for scrollbar track */
}

.wishlist-container::-webkit-scrollbar-thumb {
  background: #da0707; /* Darker grey for scrollbar thumb */
  border-radius: 4px;
}

.ReceiverWishlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: underline;
  font-size: medium;
}

.App-header input {
  padding: 12px;
  font-size: 4vmin;
  margin: 10px 0;
  width: 100%;
  max-width: 300px;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 5px;
}

.App-header button {
  -webkit-text-fill-color: #ffffff;
  margin: 2px 0;
  padding: 10px 20px;
  font-size: 5vmin;
  background-color: #b8232f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 70%;
  color: white;
  font-weight: 700;
}

.Inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

a:-webkit-any-link {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .App-header {
    min-width: 80vw;
    font-size: 5vmin;
  }
}